body {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #535353;
  font-size: 20px;
  margin: 0;
  padding: 0;
  background-color: #e5fae1;
}
#post{
    padding: 1em;
    
}
#container{
    background-color: #ffffff;
    width: 70%;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0.5em auto;
    border-radius: 10px;
}
#container h1{
    font-size: 28px;
}
#cabecera{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 1em;
    display: flex;
    align-items: center;
    justify-items: center;
    background-color:#acff97 ;
    margin: 0;
    
}
#img{
    margin-right: 1em;
}